.table-container {
  width: 960px;
  border-radius: 10px;
  overflow: hidden
}

.table {
  width: 100%;
  display: table;
  margin: 0
}

@media screen and (max-width: 768px) {
  .table {
      display:block
  }
}

.row {
  display: table-row;
  background: #fff
}

.row.header {
  color: #fff;
  background: black
}

@media screen and (max-width: 768px) {
  .row {
      display:block
  }

  .row.header {
      padding: 0;
      height: 0
  }

  .row.header .cell {
      display: none
  }

  .row .cell:before {
      font-size: 12px;
      color: gray;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: unset!important;
      margin-bottom: 13px;
      content: attr(data-title);
      min-width: 98px;
      display: block
  }
}

.cell {
  display: table-cell
}

@media screen and (max-width: 768px) {
  .cell {
      display:block
  }
}

.row .cell {
  font-size: 15px;
  color: #666;
  line-height: 1.2;
  font-weight: unset!important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2
}

.row.header .cell {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset!important;
  padding-top: 19px;
  padding-bottom: 19px
}

.row .cell:nth-child(1) {
  width: 150px;
}

.row .cell:nth-child(9) {
  width: 150px;
}

.table-body-row:hover {
  background-color: #ececff;
}

@media(max-width: 768px) {
  .row {
      border-bottom:1px solid #f2f2f2;
      padding-bottom: 18px;
      padding-top: 30px;
      padding-right: 15px;
      margin: 0
  }

  .row .cell {
      border: none;
      padding-left: 30px;
      padding-top: 16px;
      padding-bottom: 16px
  }

  .row .cell:nth-child(1) {
      padding-left: 30px
  }

  .row .cell {
      font-size: 18px;
      color: #555;
      line-height: 1.2;
      font-weight: unset!important
  }

  .table,.row,.cell {
      width: 100%!important
  }
}

/* Popup */
.popup-content {
  max-width: 100vw;
  min-width: fit-content;
  border-radius: 10px;
  width: inherit;
}

/* Popup Animation */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
